$chosen-sprite: '';
$chosen-sprite-retina: '';

/* @group Base */
body .chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  zoom: 1;
  *display: inline;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #CCC;

  .chosen-drop {
    position: absolute;
    top: 120%;
    left: -9999px;
    z-index: 1010;

    width: 100%;
    border-top: 0;
    background: #fff;
    margin-top: -1px;
    border-radius: 4px;
    box-shadow: inset rgba(0, 0, 0, 0.06) 0 -3px 0, rgba(0, 0, 0, 0.05) 0 0 0 1px;
    text-shadow: none;
  }
  &.chosen-with-drop .chosen-drop {
    left: 0;
    padding: 5px;
  }
  a{
    cursor: pointer;
  }
}
/* @end */

/* @group Single Chosen */
body .chosen-container-single{
  .chosen-single {
    position: relative;
    display: block;
    padding: 12px 14px;
    border: 0;
    border-style: solid;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    text-shadow: none;
    border: 0;
    text-align: left;
  }
  .chosen-default {
    color: #999;
  }
  .chosen-single span {
    display: block;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: none;
    color: #000;
  }
  .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: $chosen-sprite -42px 1px no-repeat;
    font-size: 1px;
    &:hover {
      background-position: -42px -10px;
    }
  }
  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 100%;
    &:before {
      @extend .entypo;
      content: '\e86f';
      color: #818080;
      display: block;
      text-align: center;
      line-height: 41px;
      width: 16px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    input[type="text"] {

      margin: 1px 0;
      padding: 4px 20px 4px 5px;
      width: 100%;
      height: auto;
      outline: 0;
      border: 1px solid #aaa;

      font-size: 1em;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;

      &:focus {
        border: 1px solid #aaa;
      }
    }
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}
/* @end */

/* @group Results */
body .chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    &.active-result {
      display: list-item;
      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default;
    }
    &.highlighted {
      background-color: #3875d7;

      color: #fff !important;
    }
    &.no-results {
      display: list-item;
    }
    &.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}
/* @end */

/* @group Multi Chosen */
body .chosen-container-multi{
  .chosen-choices {
    position: relative;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    cursor: text;
  }
  .chosen-choices li {
    float: left;
    list-style: none;
    &.search-field {
      padding: 0;
      white-space: nowrap;
      input[type="text"] {
        margin: 0;
        padding: 11px 14px;
        outline: 0;
        border: 0;
        box-shadow: none;
        border-radius: 4;
        width: 100% !important;
      }
    }
    &.search-choice {
      position: relative;
      margin: 6px;
      max-width: 100%;
      cursor: default;
      position: relative;
      padding: 2px 7px;
      border: 1px solid #ddd;
      max-width: 100%;
      border-radius: 3px;
      background-color: #eeeeee;

      span {
        padding-left: 22px;
        word-wrap: break-word;
      }
      .search-choice-close {
        @extend .entypo;
        color: #818080;
        position: absolute;
        top: 7px;
        left: 6px;
        display: block;
        font-size: 14px;

        &:before {
          content: '\2715';
        }
      }
    }
    &.search-choice-disabled {
      padding-right: 5px;
      border: 1px solid #ccc;
      background-color: #e4e4e4;

      color: #666;
    }
    &.search-choice-focus {
      background: #d4d4d4;
      .search-choice-close {
        background-position: -42px -10px;
      }
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
  }
  .chosen-drop {
    top: 110%;
  }

  .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
}
/* @end */

/* @group Active  */
body .chosen-container-active{
  .chosen-single {

  }
  &.chosen-with-drop{
    .chosen-single {

    }
    .chosen-single div {
      border-left: none;
      background: transparent;
      b {
        background-position: -18px 2px;
      }
    }
  }
  .chosen-choices {
    background: #fff;
    li.search-field {
      input[type="text"] {
      }
    }
  }
}
/* @end */

/* @group Disabled Support */
body .chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}
/* @end */

/* @group Right to Left */
body .chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }
  .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }
  .chosen-single-with-deselect span {
    margin-left: 38px;
  }
  .chosen-single div {
    right: auto;
    left: 3px;
  }
  .chosen-single abbr {
    right: auto;
    left: 26px;
  }
  .chosen-choices li {
    float: right;
    &.search-field input[type="text"] {
      direction: rtl;
    }
    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }
  &.chosen-container-single-nosearch .chosen-search,
  .chosen-drop {
    left: 9999px;
  }
  &.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }
  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: #fff $chosen-sprite no-repeat -30px -20px;

    direction: rtl;
  }
  &.chosen-container-single{
    .chosen-single div b {
      background-position: 6px 2px;
    }
    &.chosen-with-drop{
      .chosen-single div b {
        background-position: -12px 2px;
      }
    }
  }
}

/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi)  {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: $chosen-sprite-retina !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */