/* Form fields, general styles first. */
label {
	font: bold 14px/normal 'Montserrat', sans-serif;
	text-transform: uppercase;
}

button,
input,
textarea {
	font: 400 17px "Varela Round", Helvetica, sans-serif;
	padding: 11px 15px;
	border: 0;
}

select {
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea,
select {
	font-size: 16px;
	padding: 10px 14px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
}

select {
	border: 0;
	border-radius: 0;
	background: none;
}

body .wp_themeSkin table.mceLayout,
#wp-resume_content-wrap,
.wp-editor-wrap {
	border: 1px solid #ccc;
}

input:focus,
textarea:focus,
select:focus {
	outline: 0;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {

}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {

}