.modal,
.application_details,
.resume_contact_details {
	display: none;
}

.mfp-content {
	.modal,
	.application_details,
	.resume_contact_details {
		display: block !important;
	}
}

.modal {
	position: relative;
	background: #fafafa;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	padding: 0;
	border-radius: 6px;

	hr {
		border-top: 0;
		border-bottom-color: #ccc;
		margin: 0;
	}
}

.modal-title {
	font-weight: normal;
	padding: 30px;
	margin-bottom: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-content {
	padding: 30px;
}

.modal-submit {
	margin: 0;
	padding: 30px;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}


/**
 * Login
 */
.modal #loginform,
.modal #register-form {
	@extend .modal-content;

	.login-submit,
	.register-submit {
		@extend .modal-submit;
		margin: 0 -30px -30px;
	}
}


/**
 * Magnificent Popup Suppliment
 */

button.mfp-close {
	color: #fff !important;
	top: 33px;
	right: 30px;
	line-height: 31px;
	height: 30px;
	width: 30px;
	border-radius: 5px;
}

button.mfp-close:active {
	top: 30px;
	outline: 0;
}

.mfp-content{
	opacity: 0;
	visibility: hidden;

	/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	transform-style:         preserve-3d;

	-webkit-transform: scale(0.25);
	-moz-transform:    scale(0.25);
	transform:         scale(0.25);

	-webkit-backface-visibility: hidden;
	backface-visibility:         hidden;
	*/
}

.mfp-ready .mfp-content {
	zoom: 1;
	opacity: 1;
	visibility: visible;

	/*
	webkit-transform: scale(1);
	-moz-transform:    scale(1);
	transform:         scale(1);
	*/
}

.mfp-removing .mfp-content {
	zoom: 1;
	opacity: 0;
	visibility: visible;

	/*
	-webkit-transform: scale(0.25);
	-moz-transform:    scale(0.25);
	transform:         scale(0.25);
	*/
}