

.single_job_listing .application .apply-with-linkedin,
input.import-from-linkedin {
	@extend .button;

	font-size: 15px;
	border-color: #007bb6;
	background: rgba(0, 0, 0, 0);
	color: #007BB6;
	text-shadow: none;
	padding: 15px 20px;
	border-radius: 3px;
	float: none;
	margin: 1em 0;
}

.single_job_listing .job-meta.col-md-2 .application .apply-with-linkedin {
	font-size: 12px;
	padding: 15px 10px;
}